body{
  display: flex;
  flex-direction: row;
}

section{
  display: flex;
  flex-direction: row;
}

.login_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 1200px;
}

.login_box{
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
  border: 2px solid gray;
  border-radius: 30px;
  padding: 40px;
}

form h2{
  margin-bottom: 50px;
}

.form{
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.col1{
  width: 50px;
  line-height: 35px;
}

.col2{
  margin-left: 20px;
  text-align: right;
}

.col2 input{
  width: 250px;
  height: 35px;
}

.button input{
  margin-top: 30px;
  font-size: 20px;
  padding: 20px 40px;
  border: 1px solid gray;
  border-radius: 10px;
}

.button input:hover{
  border: 1px solid var(--font-color);
  background-color: var(--font-color);
  color: white;
  cursor: pointer;
}

.login_box a{
  margin-top: 50px;
  padding: 5px;
}